<%= flash[:error] %>

<%= form_for  @property do |f| %>

    <div>
        <%= f.label :description, 'Descricao'  %><br>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :city, 'Cidade'  %><br>
        <%= f.text_field :city %>
    </div>

    <div>
        <%= f.label :state, 'Estado'  %><br>
        <%= f.text_field :state %>
    </div>

    <div>
        <%= f.label :property_type, 'Tipo'  %><br>
        <%= f.text_field :property_type %>
    </div>

    <div>
        <%= f.label :price, 'Preco'  %><br>
        <%= f.text_field :price %>
    </div>

    <div>
        <%= f.label :capacity, 'Capacidade'  %><br>
        <%= f.text_field :capacity %>
    </div>

    <div>
        <%= f.label :maximum_rent, 'Max Pessoas'  %><br>
        <%= f.text_field :maximum_rent %>
    </div>

    <div>
        <%= f.label :minimun_rent, 'Min Pessoas'  %><br>
        <%= f.text_field :minimun_rent %>
    </div>

    <div>
        <%= f.label :rent_purpose, 'Finalidade'  %><br>
        <%= f.text_field :rent_purpose %>
    </div>

    <div>
        <%= f.label :rules, 'Regras'  %><br>
        <%= f.text_field :rules %>
    </div>

    <div>
        <%= f.label :owner, 'Dono'  %><br>
        <%= f.text_field :owner %>
    </div>

    <div>
        <%= f.submit 'Enviar'%>
    </div>

<% end %>
