<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>

<h1><%= @property.title %></h1>
<ul>
  <li>Tipo da Propriedade: <%= @property.property_type %></li>
  <li>Finalidade da locação: <%= @property.rent_purpose %></li>
  <li>Cidade: <%= @property.city %></li>
  <li>Estado: <%= @property.state %></li>
  <li>Regras para hospedagem: <%= @property.rules %></li>
  <li>Dono: <%= @property.owner %></li>
  <li>Valor da diária: <%= @property.daily_rate %></li>
  <li>Quantidade máxima de hospedes: <%= @property.maximum_guests %></li>
  <li>Número mínimo de dias: <%= @property.minimun_rent %></li>
  <li>Número máximo de dias: <%= @property.maximum_rent %></li>
</ul>
<label>Descrição:</label>
<p><%= @property.description %></p>

<%= link_to 'Cadastrar valor por periodo', new_property_price_range_path(@property) %>
<%= link_to 'Enviar Proposta', new_property_proposal_path(@property) %>
