<%= flash[:error] %>

<h1> <%= @property.description %>  </h1>


<li> <%= @property.state %>  </li>
<li> <%= @property.city %>  </li>
<li> <%= @property.rules %>  </li>
<li> <%= @property.owner %>  </li>
<li> <%= @property.price %>  </li>
