<h1><%= @property.title %></h1>
<h3>Fotos do imóvel</h3>
<br>
<% if @property.photo.exists? %>
  <%= image_tag @property.photo.url %>
<% else %>
  <%= image_tag "#{Rails.root}/app/assets/images/missing.jpg" %>
<%end %>
<ul>

  <li>Tipo da Propriedade: <%= @property.property_type.name %></li>
  <li>Finalidade da locação: <% @property.purposes.each do |purpose|%>
    <%= purpose.name %>
    <% end %>
  </li>

  <li>Cidade: <%= @property.city %></li>
  <li>Estado: <%= @property.state %></li>
  <li>Regras para hospedagem: <%= @property.rules %></li>
  <li>Dono: <%= @property.owner %></li>
  <li>Valor da diária: <%= number_to_currency(@property.daily_rate) %></li>
  <li>Quantidade máxima de hospedes: <%= @property.maximum_guests %></li>
  <li>Número mínimo de dias: <%= @property.minimun_rent %></li>
  <li>Número máximo de dias: <%= @property.maximum_rent %></li>
</ul>
<label>Descrição:</label>
<p><%= @property.description %></p>


<%= link_to 'Cadastrar valor por periodo', new_property_price_range_path(@property), class: "btn btn-primary" %>
<%= link_to 'Enviar Proposta', new_property_proposal_path(@property), class: "btn btn-primary" %>
<%= link_to 'Editar', edit_property_path(@property), class: "btn btn-primary" %>
