<section>
  <h1> Aluguel de imoveis </h1>

  <% if user_signed_in? %>
    <%= link_to 'Cadastrar tipo de imovel', new_property_type_path, class: 'btn btn-primary' %>
    <%= link_to 'Cadastrar Imovel', new_property_path, class: "btn btn-primary" %>
    <%= link_to 'Meus imoveis', properties_path, class: "btn btn-primary"%>
    <%= link_to 'Ver propostas', proposals_path, class: "btn btn-primary" %>
  <% end %>

  <br/>

  <% @properties.each do |property| %>
  <div class="col-md-4">
      <h3><%= link_to property.title, property %></h3>
      <ul>
        <li>Cidade: <%= property.city %></li>
        <li>Estado: <%= property.state %></li>
        <li>Finalidade da locação: <%= property.purpose_list %>
        </li>
        <li>Valor da diaria: <%= number_to_currency(property.daily_rate) %></li>
      </ul>
  </div>
  <% end %>
</section>
