<h1>Enviar Proposta</h1>

<%= form_for([@property, @proposal]) do |f| %>
  <%= f.label :start_date, 'Data Inicial' %>
  <%= f.date_field :start_date, min: Date.today %>

  <%= f.label :end_date, 'Data Final' %>
  <%= f.date_field :end_date, min: Date.today %>

  <%= f.label :total_guests, 'Quantidade de hóspedes' %>
  <%= f.number_field :total_guests %>

  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>

  <%= f.label :email, 'Email' %>
  <%= f.email_field :email %>

  <%= f.label :cpf, 'CPF' %>
  <%= f.text_field :cpf, size: 11 %>

  <%= f.label :phone, 'Telefone' %>
  <%= f.phone_field :phone %>

  <%= f.label :observation, 'Observações' %>
  <%= f.text_area :observation %>

  <%= f.submit 'Enviar' %>
<% end %>
