<!DOCTYPE html>
<html>
  <head>
    <title>AlugaTemporada</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <%= link_to 'Aluga Verão', root_path, class: "navbar-brand" %>
            </div>
            <div class="navbar-right">
              <label class="navbar-text">Bem vindo ao Aluga Verão</label>
              <%= render 'shared/filter_form' %>
            </div>
          </div>
        </nav>
      </header>
    <main>

      <div class="container">

        <% if flash[:error] %>
          <div class="row">
            <div class="alert alert-danger">
              <label><%= flash[:error] %></label>
            </div>
          </div>
        <% end %>

        <%= yield %>

      </div>

    </main>
  </body>
</html>
