<!DOCTYPE html>
<html>
  <head>
    <title>AlugaTemporada</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <h1><%= link_to 'Aluga Verão', root_path %></h1>
            </div>
            <div class="navbar-right">
              <p class="navbar-text">Bem vindo ao Aluga Verão</p>
              <%= link_to 'Login', new_user_session_path %>
              <%= link_to 'Minhas propostas', my_proposals_path %>
              <%= render 'shared/filter_form' %>
            </div>
          </div>
        </nav>
      </header>
      <%= flash[:error] %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
